
{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">

      <div class="col">
        <h2 class = "my-2">Companies</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>sl</th>
                <th>Name</th>
                <th>Branch</th>
                <th>About</th>
              </tr>
            </thead>
            <tbody>
              {% for comp in companies %}
              <tr>
                <td>{{comp.id}}</td>
                <td><a href="{% url 'info' comp.id %}">{{comp.com_name}}</a></td>
                <td>{{comp.branch}}</td>
                <td>{{comp.about}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
</div>


{% endblock content %}