{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h2 class = "my-2">Tracking information</h2>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>sl</th>
                    <th>Device</th>
                    <th>Employee</th>
                    <th>Pre-condition</th>
                    <th>Post-condition</th>
                    <th>Checkout-date</th>
                    <th>Return-date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for log in logs %}
                  <tr>
                    <td>{{log.id}}</td>
                    <td>{{log.device.name}}</td>
                    <td>{{log.employee.username}}</td>
                    <td>{{log.pre_condition}}</td>
                    <td>{{log.post_condition}}</td>
                    <td>{{log.checkout_date}}</td>
                    <td>{{log.return_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>


{% endblock content %}